*.ap_
*.aab
*.class
*.dex
*.iml

.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea
.navigation

*.xcodeproj/

**/.vscode/*
.vscode/*
bin/
build/
captures/
gen/
local.properties
obj/
lib/
output.json
Thumbs.db
